# Dependencies
node_modules/

# Environment variables
.env
.env.production
.env.local
.env.*.local

# Build output
dist/

# Logs
logs/
*.log

# Prisma
prisma/migrations/*_migration.sql

# Tests
coverage/

# Editor
.vscode/
.idea/

# OS
.DS_Store
